/ConstantesPersonajes.class
/EstadoPersonaje.class
/Personaje.class
/Cell.class
/ConstantesCell.class
/ErrorCambiarEstadoCondicionesNoCumplidas.class
/Freezer.class
/Gohan.class
/Goku.class
/MajinBoo.class
/Piccolo.class
/ErrorNoPuedeCambiarEstado.class
/ErrorNoCompatibilidad.class
/ErrorPersonajeInutilizado.class
